@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    Boilerplate CSS for the entire application.
*/

/* Variables */
:root {
	--background-color: #0c0c0c;
	--primary-text-color: #fefefe;
	--accent-color: #4b3cf5;
}

/* *,
*::before,
*::after {
	box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

:focus:not(:focus-visible) {
	outline: none;
} */

html {
	/* font-size: 62.5%; */
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body {
	margin: 0;
	font-family: "Kumbh Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background-color);
	color: var(--primary-text-color);
}

/*
label,
button,
select,
summary,
[type="radio"],
[type="checkbox"],
[type="submit"] {
	cursor: pointer;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
	list-style: none;
}

menu,
ol,
ul {
	padding-left: 0;
}

article ol,
article ul {
	list-style-position: inside;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}
*/

