.create-post {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5em;
    padding: 1em;
    padding-left: 15px;
    width: 414.5px;
    max-width: 450px;
    height: 60px;
    border-radius: 10px;
    background-color: #151515;
    cursor: pointer !important;
}

.create-post:hover {
    background-color: #1E1E1E;
    transition: 0.3s;
}

.create-post-author {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer !important;
}

.create-post-text {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    cursor: pointer !important;
    color: #8B8B8B;
}