.post {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: #151515;
	border-radius: 1rem;
	padding: 2rem 3rem;
	max-width: 450px;
}

.post-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.more-action {
	cursor: pointer;
	font-size: 2rem;
}

.post-text {
	padding: 0.5rem;
	font-size: 1.3rem;
	font-weight: 200;
}

.post-attachment-image {
	width: 100%;
	height: auto;
	max-height: 200px;
	object-fit: cover;
	border-radius: 1rem;
}

.post-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
}

.post-actions {
	display: flex;
	gap: 1rem;
	font-size: 1.5rem;
}

.post-like-action,
.post-comment-action,
.post-repost-action,
.post-share-action {
	cursor: pointer;
}

.post-info {
	font-weight: 200;
	color: #888888;
}
