{
    "singleQuote": false,
    "semi": true,
    "tabWidth": 4,
    "bracketSpacing": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "endOfLine": "lf",
    "printWidth": 120,
    "useTabs": false
}